TELEGRAM_BOT_TOKEN="811..."
TELEGRAM_CHANNEL_ID=@aitoday_ru
TELEGRAM_WORK_GROUP_ID="-1003489255138"

VK_ACCESS_TOKEN="vk1.a.5LXKgdQDZ_..."
VK_GROUP_ID="234034555"

OPENAI_API_URL="http..."
OPENAI_API_KEY="dummy"
LLM_MODEL_NAME="qwen3-235b-fp8"

COMPOSE_BAKE=true
